{#
nav builder macro to build up a nav structure with special dropdown styling for the top nav
NB: This is for the example set up, however a blank duplicate is below which doesn't apply special bootstrap classes and so can be duplicated and changed to how you need
#}
{% macro dropdown(routes, levels, show_hidden, level, path) %}

    {% if level == null %}
        {% set level = 1 %}
    {% endif %}

    {# If we are on first level apply standard top level class #}
    <ul class="{% if level == 1 %}nav navbar-nav{% else %}dropdown-menu{% endif %}">
        {% for route, data in routes %}
            {# Ensure not to load or show a hidden route #}
            {% if show_hidden is not defined or (false == show_hidden and false == data.hidden) %}

                {% if levels is not defined or (data.children and levels > level) %}
                    {% set dropdown = true %}
                {% endif %}

                {# Create list item #}
                <li class="{% if dropdown %}dropdown{% endif %} {% if route == currenturi %}active{% endif %}">

                    {# Create new route #}
                    {% set currentpath = path ~ '/' ~ route %}
                    <a href="{{ currentpath }}" class="{% if dropdown %}dropdown-toggle{% endif %}" {% if dropdown %}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>
                        {{ data.title }}

                        {# Output caret symbol if has children (is dropdown) #}
                        {% if dropdown %}
                            <span class="caret"></span>
                        {% endif %}
                    </a>

                    {# If route has children then recursively call macro #}
                    {% if dropdown %}
                        {% set level = level + 1 %}
                        {{ _self.dropdown(data.children, levels, show_hidden, level, currentpath) }}
                        {% set level = level - 1 %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endmacro %}


{# nav builder macro to build up a nav structure with no special styling - NOT COMPLETE #}
{% macro standard(routes, levels, show_hidden, level, path) %}

    {% if level == null %}
        {% set level = 1 %}
    {% endif %}

    <ul>
        {% for route, data in routes %}
            {# Ensure not to load or show a hidden route #}
            {% if show_hidden is not defined or show_hidden is same as(true) or (false == show_hidden and false == data.hidden) %}


                {% if levels is not defined or levels is same as(true) or (data.children and levels > level) %}
                    {% set dropdown = true %}
                {% endif %}

                {# Create list item #}
                <li class="{% if route == currenturi %}active{% endif %}">

                    {# Create new route #}
                    {% set currentpath = path ~ '/' ~ route %}
                    <a href="{{ currentpath }}" class="">
                        {{ data.title }}
                    </a>

                    {# If route has children then recursively call macro #}
                    {% if dropdown and data.children %}
                        {% set level = level + 1 %}
                        {{ _self.standard(data.children, levels, show_hidden, level, currentpath) }}
                        {% set level = level - 1 %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endmacro %}