<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js ie lt-ie9 lt-ie10 {{ app.environment }}" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie10 {{ app.environment }}" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="goodie no-js {{ app.environment }}" lang="en"><!--<![endif]-->
<head>

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    {% endblock %}

</head>
<body>
    {% block header %}
        <header class="navbar navbar-static-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Front End Templating</a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Test 1</a></li>
                        <li><a href="#">Test 2</a></li>
                        <li><a href="#">Test 3</a></li>
                    </ul>
                </nav>
            </div>
            <nav>
                {# Here is an example of getting the entire tree structure nav markup #}

            </nav>

            <nav>
                {# Here is an example of getting just the top level nav items and not recursively going down the tree #}

            </nav>
        </header>
    {% endblock %}

    <!-- container -->
    <div class="container">

        {% include 'parts/breadcrumbs.twig' %}

        {% block content %}
            Content
        {% endblock %}


        {% include 'parts/sidenav.twig' %}

    </div>
    <!-- end container -->

    {% block footer %}
        <footer>
            FOOTER
        </footer>
    {% endblock %}

    {% block scripts %}
        {# base scripts go here #}
    {% endblock %}
</body>
</html>