<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js ie lt-ie9 lt-ie10 {{ app.environment }}" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie10 {{ app.environment }}" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="goodie no-js {{ app.environment }}" lang="en"><!--<![endif]-->
<head>

    {% if page.title %}
        <title>{{ current_page.title }}</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{ current_page.description }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    {% endblock %}

</head>
<body>
    {% block header %}
        <header class="navbar navbar-static-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Front End Templating</a>
                </div>
                <nav class="collapse navbar-collapse">
                    {# Here is an example of getting just the top level nav items and not recursively going down the tree #}
                    {% include 'parts/topnav.twig' %}
                </nav>
            </div>
        </header>
    {% endblock %}

    {# Include the breadcrumbs #}
    {% include 'parts/breadcrumbs.twig' %}

    <!-- container -->
    <div class="container" style="padding-bottom: 20px;">

        {# Main content block #}
        {% block content %}
            {# Inner main block with the actual dynamic content in #}
            {% block main %}
                Content
            {% endblock main %}
        {% endblock %}

    </div>
    <!-- end container -->

    {% block footer %}
        <footer class="footer" style="background-color: #f5f5f5; padding-top: 30px; padding-bottom: 30px;">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
            </div>
        </footer>
    {% endblock %}

    {% block scripts %}
        {# base scripts go here #}
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>