{% block main %}
    <div class="jumbotron">
        <h1>{{ current_page.title }}</h1>
        {% if jumbo.subtitle %}
            <p>{{ jumbo.subtitle }}</p>
        {% endif %}

        {% if jumbo.link %}
            <p><a class="btn btn-primary btn-lg" href="{{ jumbo.link.link }}" role="button">{{ jumbo.link.text }}</a></p>
        {% endif %}
    </div>
    <p>{{ body | raw }}</p>
{% endblock %}